<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post", action="http://127.0.0.1:8000/hw18/write_line/">
    <p>
        Input your first name
        <br><input type="text" name="firstname">
    </p>
    <p>
        Input your lastname
        <br><input type="text" name="lastname">
    </p>
    <p>
        Input your age
        <br><input type="number" name="age">
    </p>
    <p>
        <br><input type="submit" name="submit">
    </p>
</form>
</body>
</html>